@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

 * {
    font-family: 'Work Sans', sans-serif;
 }

 /* work senc*/

.icon{
    display: flex;
    align-items: center;
    gap: 10px;

}
.font-img{
    width: 48px;
    height: 56.008px; 
}

.title-contenair{
    color: #131318;
font-size: 36px;
font-weight: 800;

}
 header{
    padding: 50px 127px;
 }
 nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 nav > ul{
    display: flex;
    list-style: none;
    
 }
 nav li{
     margin-right: 44px;
 }
 nav li a{
    text-decoration: none;
    color: #424247;
 }

 .backround-image{
    background-image: url("../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1170px;
    height: 500px;
  
 }
 .title-contenair2{
    color: #FFF;
font-size: 64px;
font-weight: 800;
 text-align: center;
  padding-top: 106px;

 }
 .diskaripsition{
    width: 676px;
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
 text-align: center;
 margin: 0 auto;
 
 }
 .manu-baton{
    
    margin: 64px auto;
    text-align: center;
    
    
  
 }
 .manu-baton-manu{
    width: 174px;
    height: 52px;
      
    border-radius: 8px;
    background: #FFF;
    border: 0px;
     
 }
 
 .manu-baton-manu4{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
     
 }

/*new section*/


 main{
    margin: 0 135px;
    max-width: 1440px;
 }
.section-a{
    display: flex;
    gap: 50px;
}
 
h1{
    font-size: 40px;
    color: #131318;
    margin-bottom: 24px;
    margin-right: 222px;
}
.diskaripsition3{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
}
section ul{
  
}
section ul li{
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
margin-bottom: 36px;
}

.btn-2{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;

font-size: 20px;
font-weight: 800;
border: 0px;
margin-right: 384px;
}

.title-image{

}
.title-image-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 24px;
}
.diskaripsition5{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
margin: 0 auto;
margin-bottom: 24px;
}

/* backround image*/

.backround-image-6{
    width: 100%;
    
}

.title-contack{
   
}
.title-2{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 70px;
}
.title-diskaripsition{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
margin: 0 auto;

}

/* new hotel seksotion*/
.hotel-oll-tag{
    margin-top: 50px;
    gap: 24px;
    display: flex;
}
.hotel-section{
    background: rgba(251, 181, 99, 0.05);
border: 1px solid rgba(251, 181, 99, 0.20);
border-radius: 16px;
width: 573px;
height: 284px;
}

.exta1{
    width: 64px;
    margin-right: 477px;
    margin-top: 32px;
}
 
.map-section{
    width: 573px;
    height: 284px;
    background: rgba(41, 206, 246, 0.05);
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
       
}

section{
   
text-align: center;
margin: 0 auto;
}

.price-section{
    background: rgba(233, 68, 68, 0.05);
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
text-align: center;
width: 573px;
margin: 24px auto;
 
}

.h3-1{
   

}


.deals{
    text-align: center;
}
.deals-2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals-3{
    width: 643px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px
}
.pic-up{
     background-color: ;
     background: rgba(255, 255, 255, 0.80);
     text-align: center;

}
.pic-up img{
    margin-top: 24px;
}
.btn-3{
    width: 210px;
height: 52px;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
background: #FF5400;
border-radius: 10px;
border: 0px;
margin-top: 48px;
margin-bottom: 100px;
}


.a-Simple{
    display: flex;
    margin-bottom: 100px;
 
}
.a-Simple-2{
    width: 448px;
    color: #131318;
font-size: 40px;
font-weight: 800;
margin-left: -54px 
}
.type-name{
    display: table-column;
    
}
.btn-4{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
border: 0px;
margin-right: 457px;
}
.Newsletter{
    display: flex;
    justify-content: space-between;
    gap: 24px;
     
}
.bor{
    border: 1px solid red;
    border-radius: 16px;
}
.news1{
    margin-right: 310px;
}
.get-1{
    margin-left: 29px;
    width: 361px
}
.enpuy1{
    border-radius: 8px;
    width: 393px;
    height: 52px;
     margin-bottom: 16px;
     border: 0px;
     background: rgba(19, 19, 24, 0.05);
     color: rgba(19, 19, 24, 0.30);
font-size: 16px;
font-weight: 400;



}
.enput2{
     
    width: 393px;
height: 52px;
border-radius: 8px;
margin-bottom: 24px;
border: 0px;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);
font-size: 16px;
font-weight: 400;


}
.btn-{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: 0px;
}
.pera{
    text-align: center;
    margin-bottom: 15px;
}

.abcd{
    display: flex;
   margin-left: 640px;
    margin-bottom: 20px;
     
     
}

.image-icon{
    width: 30px; 
    margin-right: 10px;
}

.email-bar{
   text-align: center;
   padding: 32px;
}
.last{
    width: 842px;
    margin: 0 auto;
}
.last-pat{
    color: var(--Dark-01, #131318);
font-size: 32px;
font-weight: 800;
padding-top: 50px;
}


footer{
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
    height: 502px;
}
.wotar-mark{
    margin-top: 100px;
}
 .comla{
    color: #FF5400;
 
    font-size: 36px;
    font-weight: 800;
 }









@media screen and (max-width:600px) {
    nav{
       
        font-size: 21.543px;
        display: flex;
       
    }
    .backround-image{
        background-repeat: no-repeat;
        height: 483px;
        background-position-x: -321px;
    border-radius: 16px;
    height: 493px;
     
    }
    .title-contenair2{
        width: 517px;
    padding-top: 23px ;
     
    font-size: 31px;
    margin-left: 19px 

    }
    .manu-baton{
        display: grid;
        gap: 10px;
        margin-left: 110px;
         
        margin-top: 117px
         
   
    }

    .icon{
        font-size: 21.543px;
    }
    .manu-baton-manu{
        width: 366px;
        height: 36px 
    }
    .manu-baton-manu4{
        width: 366px;
        height: 36px 
    }
    .diskaripsition{
         
        width: 401px;
    font-size: 17px;
    margin-left: 93px;
    }
    .diskaripsition3{
        width: 496px;
        color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
        margin-left: -128px;
        
    }
   

    .backround-image{
        width: 100%;
    }
    header{
        padding: 20px;
    }
    section-a{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    margin-left: -132px;
    }
    .section-a{
        flex-direction: column;
    }
    .hotel-oll-tag{
        flex-direction: column;
    }
    h1{
        margin-left: -165px ;
        font-size: 40px;
        color: #131318;
        margin-bottom: 24px;
        width: 442px;
    }
    .btn-2{
      
        margin-left: -102px 
    }
    ul{
        margin-left: -132px
    }
    .images-photo{
        margin-left: -110px;
    }
    .title-image-title{
        width: 307px 
    }
.diskaripsition5{
    margin-left: -106px;
    width: 502px;
}
.a10{
    margin-left: -130px 
}
.title-diskaripsition{
    width: 501px;
    margin-left: -90px;
}
.hotel-section{
    margin-left: -130px;
}
.map-section{
    margin-left: -130px;
}
.price-section{
    margin-left: -130px;
}
.deals-3{
    margin-left: -40px;
    width: 407px;
}
.pic-up{
    margin-left: -125px;
}
.pic-up img{
    width: 565px;
}
.a-Simple{
    flex-direction: column;
}
 .a-Simple-2{
    margin-left: -135px;
 }
 .a1{
    margin-left: -107px;
    width: 499px;
 }
 .btn-4{
    margin-left: -343px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
    margin-left: -113px;
 }
 .a10{ margin-left: -137px;
     width: 588px;
     margin-top: 24px }
     .Newsletter{
       flex-direction: column;
     }
     .a11{
    
    margin-left: -138px;
    width: 586px;
     }
     .last{
        width: 398px;
        margin: 0 auto;
     }
     .abcd{
        display: flex;
        margin-left: 218px;
    margin-bottom: 20px;
     }
     footer{
        width: 597px;
        margin-left: -6px;
     }
     .a12{
        width: 100%;
     }
     .bor{
        border: none;
     }
     .a13{
        margin-left: -98px;
     }
     .get-1{
        margin-left: -76px;
        width: 361px;
     }
     .news1{
        margin-left: -92px;
     }
}

 
